<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
    <meta charset="utf-8">
    <meta name="description" content="Oliver Pope, web developer, sixteen year old, learning life. Coding in html, css, nodejs.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
